{{ .Getter }}

{{.OutputName}}tmp, err := strconv.ParseUint({{.InputName}}, 10, 64)
if err != nil {
    return status.Errorf(codes.InvalidArgument, "{{.FieldName}} is not a valid uint: %s", err)
}

{{.OutputName}} := protopack.Message{
        protopack.Tag{Number: {{- .Tag -}}, Type: protopack.VarintType},
		protopack.Varint({{.OutputName}}tmp),
    }

